{% extends 'blog/base.html' %}
{% load static %}



{% block content %}


            <div class="container home">
                <div class="row">
                    <div class="col-12">
                        <div class="container homecentertext text-center text-white">
                            <h1 class="font-weight-bold d-inline-block">About Me</span></h1>
                            <p class="lead">Student | BookWorm | Story Teller</p>



                        </div>

                    </div>



                </div>

            </div>


        </div>
        </div>
    </section>

    <!-- LOGIN MODAL -->




    <!-- about me -->
    <!-- about us -->
    <section id="home-aboutus-section" class="py-3">
        <div id="home-aboutus">
            <div class="home-aboutus-dark-overlay">
                <div class="container py-2">
                    <h1 class="font-weight-bold ">About Me</h1>

                    <div class="row">

                        <div class="col-lg-8 col-md-8">
                            <h3 class="">Welcome,</h3>
                            <p class="lead">To My Blog
                                I am <strong class="font-weight-bold h5">SaiVamsi Vanamali</strong>, Lorem ipsum dolor s
                                it amet, consectetur adipisicing elit. Reiciendis enim nulla error numquam incidunt magni
                                provident veniam distinctio fugiat ipsa consequuntur, repellendus nobis ducimus porro,
                                assumenda molestiae vero officia pariatur, dolores iste omnis doloribus laudantium o
                                bcaecati perspiciatis aliquam! Delectus eum, aspernatur in quisquam animi suscipit hic,
                                 et cupiditate obcaecati minus!
                                <br> <br>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                 Accusantium excepturi quia, quis ducimus, impedit nobis magnam atque
                                  voluptate recusandae ex.</p>




                            <a href="aboutus.html" class="btn btn-success btn-block">Know More..</a>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <img src="{% static 'img/vamsi.JPG' %}" alt="" class="img-fluid rounded-corner">
                        </div>

                    </div>

                    <div class="card card-body py-5">
    <h3>My Skills</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis reiciendis id, in necessitatibus. Voluptatem, officiis.</p>
    <hr>
    <h4>HTML</h4>
    <div class="progress mb-3">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width:100%;"> </div>
    </div>

    <h4>CSS</h4>
    <div class="progress mb-3">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width:100%;"> </div>
    </div>

    <h4>Bootstrap</h4>
    <div class="progress mb-3">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width:80%;"> </div>
    </div>


    <h4>C</h4>
    <div class="progress mb-3">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width:80%;"> </div>
    </div>

    <h4>Python</h4>
    <div class="progress mb-3">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width:70%;"> </div>
    </div>

    <h4>Django Framework</h4>
    <div class="progress mb-3">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width:70%;"> </div>
    </div>

    <h4>Git</h4>
    <div class="progress mb-3">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width:60%;"> </div>
    </div>

    <hr>
    <h4 class="lead text-center">Non-Technical</h4>
    <h4>English</h4>
    <div class="progress mb-3">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width:100%;"> </div>
    </div>

    <h4>Writing</h4>
    <div class="progress mb-3">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width:100%;"> </div>
    </div>

</div>
</div>
                </div>
            </div>

        </div>
    </section>


    <!-- contact us -->
    <!-- contact us -->
    <section id="contact" class="bg-light py-5">
        <div class="contactus-darkoverlay">
            <div class="container">
                <h2 class="text-center">Contact Me</h2>
                <div class="row">
                    <div class="col-lg-9">
                        <h3>Get in Touch</h3>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Architecto sequi veniam pariatur consequatur doloremque, nobis.</p>
                        <form action="">
                            <div class="form-group">
                                <div class="input-group input-group-lg input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-user-circle"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Name" name="" value="">
                                </div>
                            </div>



                            <div class="form-group">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-text">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                    <input type="email" class="form-control" placeholder="Email" name="" value="">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-text">
                                        <i class="fa fa-pencil"></i>
                                    </span>
                                    <textarea type="email" class="form-control" placeholder="Message" rows="5" name="" value=""></textarea>
                                </div>
                            </div>

                            <input type="submit" value="Submit" class="btn btn-primary btn-block">


                        </form>
                    </div>
                    <div class="col-lg-3 align-self-center">
                        <img src="img/vamsi.png" alt="" class="img-fluid">

                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}
